<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <%= simple_form_for @product, url: admin_product_path(@product), html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        } do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder: 'Name' %>
        <%= f.input :description, placeholder: 'Description' %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>