<%= link_to 'Create Product', new_admin_product_path, class: 'btn btn-primary' %>
<table class="table table-bordered thead-default table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Descripttion</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-sm btn-success' %>
          <%= link_to 'Delete', admin_product_path(product), class: 'btn btn-sm btn-danger', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>